.header {
  padding: 25px 0;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 146%;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  padding: 0 20px;
}

.navbar-link:hover {
  color: #E58D35;
}

.btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  padding: 14px 27px;
  background: #E58D35;
  border-radius: 90px;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #E58D35;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.btn:hover {
  background: inherit;
  color: #E58D35;
}

.btn-nav {
  font-weight: 600;
}

.banner-img {
  width: 100%;
}

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.carousel-desc {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 1fr 15%;
      grid-template-columns: 15% 1fr 15%;
  -ms-grid-rows: 1fr 12%;
      grid-template-rows: 1fr 12%;
  position: absolute;
  width: 100%;
  height: 100%;
}

.arrow-right, .arrow-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-desc-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 126%;
}

.main-desc {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 135px;
}

.main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 293px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-btn-arr {
  margin-left: 20px;
}

.carousel-nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  text-align: center;
}

.carousel-radio {
  width: 8px;
  margin-right: 26px;
}

.calculator {
  position: relative;
}

.calculator-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calculator-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 62px;
}

.line {
  width: 50px;
  height: 2px;
  color: #89C249;
}

.link-digital {
  position: absolute;
  top: -2%;
}

.digital {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #363A4D;
  border-radius: 50%;
  background: #282B38;
  padding: 16px 24px;
  margin-right: 41px;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.digital:hover {
  background: #E58D35;
}

.active {
  background: #89C249;
  border: none;
}

.active:hover {
  background: #89C249;
}

.one {
  padding: 15px 26px;
}

.calculator {
  background: #363A4D;
  padding: 70px 50px;
  border-radius: 20px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-1, .column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}

.column-1:last-of-type, .column-2:last-of-type {
  margin-right: 0;
}

.form-label {
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
  margin-bottom: 6px;
}

.form-input {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #CBCBCB;
  padding: 18px 20px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
}

.sub-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #E58D35;
  text-decoration: underline;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.men {
  width: 100%;
}

.space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.test_1 {
  width: 100%;
  border: 1px dashed #E58D35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border-radius: 20px;
}

.file_desc {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: white;
  margin-top: 24px;
  margin-bottom: 14px;
}

.delete {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #E53535;
}

.file {
  margin-bottom: 26px;
}

.benefits {
  margin: 0 50px;
  border-radius: 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(#363A4D), to(#363A4D)), #F7F7F7;
  background: linear-gradient(0deg, #363A4D, #363A4D), #F7F7F7;
  padding-top: 90px;
}

.benefits-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits-item {
  margin-bottom: 48px;
}

.delivery {
  padding-top: 97px;
  padding-bottom: 100px;
}

.delivery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.delivery-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #363A4D;
  -webkit-box-shadow: 5px 15px 40px rgba(30, 35, 66, 0.15);
          box-shadow: 5px 15px 40px rgba(30, 35, 66, 0.15);
  border-radius: 20px;
}

.delivery-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin-top: 27px;
  margin-bottom: 12px;
}

.delivery-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.desc-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 30px;
}

.desc-txt:last-of-type {
  margin-right: 0;
}

.delivery-price {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
}

.txt-big {
  font-weight: 700;
  font-size: 45px;
  line-height: 56px;
}

.delivery-btn-box {
  width: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 18px;
  margin-bottom: 27px;
}

.delivery-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 10px;
  min-width: 130px;
  padding: 14px 17px;
}

.disable-btn {
  background: inherit;
}

.services {
  margin: 0 50px;
  border-radius: 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(#363A4D), to(#363A4D)), #F7F7F7;
  background: linear-gradient(0deg, #363A4D, #363A4D), #F7F7F7;
  padding-top: 90px;
  padding-bottom: 100px;
}

.services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-item {
  padding: 0 30px;
  position: relative;
  width: 350px;
  height: 455px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 20px;
}

.services-item::before {
  content: " ";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(4, 5, 17, 0.91)), to(rgba(88, 88, 88, 0)));
  background: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%);
}

.s-1 {
  background: url(../images/s-1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.s-2 {
  background: url(../images/s-2.png);
  background-repeat: no-repeat;
  background-position: center;
}

.s-3 {
  background: url(../images/s-3.png);
  background-repeat: no-repeat;
  background-position: center;
}

.services-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  z-index: 2;
  margin-bottom: 13px;
}

.services-txt {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: #ffffff;
  z-index: 2;
  margin-bottom: 14px;
}

.services-btn {
  max-width: 153px;
  z-index: 2;
  background: none;
  margin-bottom: 33px;
}

.services-btn:hover {
  background: none;
}

.about {
  padding-top: 80px;
  padding-bottom: 100px;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.line-left {
  margin-left: 0 !important;
}

.about-txt-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 15%;
}

.about-desc:last-of-type {
  margin-bottom: 0;
}

.faq-left {
  width: 60%;
}

.details-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.details-name::-webkit-detail-marker {
  display: none;
}

.details-name::after {
  content: url(../images/details-a.png);
}

.faq-details {
  border: 1px solid #3A444E;
  border-radius: 10px;
  padding: 21px 34px;
  width: 100%;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  margin-bottom: 16px;
}

.faq-details[open] {
  background: white;
}

.faq-details[open] > summary {
  color: #282B38;
}

.faq-details[open] > summary::after {
  content: url(../images/details-b.png);
}

.details-txt {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #282B38;
}

.faq-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.faq-form-container {
  max-width: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #363A4D;
  -webkit-box-shadow: 5px 15px 40px rgba(11, 24, 97, 0.32);
          box-shadow: 5px 15px 40px rgba(11, 24, 97, 0.32);
  border-radius: 20px;
  padding: 38px 40px;
}

.faq-form-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 8px;
}

.faq-form-txt {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 23px;
}

.faq-input {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #CBCBCB;
  background: #FFFFFF;
  border: none;
  border-radius: 10px;
  padding: 18px 20px;
  width: 100%;
  margin-bottom: 14px;
}

.faq-btn {
  max-width: 100%;
  width: 100%;
}

.cargo {
  margin: 0 50px;
  border-radius: 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(#363A4D), to(#363A4D)), #F7F7F7;
  background: linear-gradient(0deg, #363A4D, #363A4D), #F7F7F7;
  padding-top: 90px;
  padding-bottom: 30px;
}

.sub-heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
}

.cargo-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.cargo-txt-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cargo-txt {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #ffffff;
}

.left-fix {
  padding-left: 3%;
}

.footer {
  padding-top: 70px;
}

.full-line {
  width: 100% !important;
}

.footer-txt-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.margin-bottom {
  margin-bottom: 30px;
}

.social-icon {
  margin-top: 20px;
}

.social-item {
  margin-right: 8px;
}

.footer-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.footer-navbar {
  list-style: none;
  margin-top: 14px;
}

.footer-navbar-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #85899C;
}

.footer-navbar-item {
  margin-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #282B38;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.main-heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.title-line {
  height: 2px;
  background: #E58D35;
  width: 85px;
  border: none;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 49px;
}
/*# sourceMappingURL=main.css.map */