@import "vars"
@import "mixins"
@import "header"
@import "banner"
@import "calculator"
@import "benefits"
@import "delivery"

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: 'Montserrat', sans-serif
    background: $main-color 

.container
    max-width: 1140px
    margin: 0 auto

.main-heading
    @include txt(700, 32px, 44px)
    color: $text-color
    text-transform: uppercase
    text-align: center

.title-line
    height: 2px
    background: #E58D35
    width: 85px
    border: none
    margin: 0 auto
    margin-top: 20px
    margin-bottom: 49px