@import "vars"
@import "mixins"
@import "header"
@import "banner"
@import "calculator"

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: 'Montserrat', sans-serif
    background: $main-color 

.container
    max-width: 1140px
    margin: 0 auto

