.header {
  padding: 25px 0;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 146%;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  padding: 0 20px;
}

.navbar-link:hover {
  color: #E58D35;
}

.btn {
  padding: 14px 27px;
  background: #E58D35;
  border-radius: 90px;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #E58D35;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.btn:hover {
  background: inherit;
  color: #E58D35;
}

.btn-nav {
  font-weight: 600;
}

.banner-img {
  width: 100%;
}

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.carousel-desc {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 1fr 15%;
      grid-template-columns: 15% 1fr 15%;
  -ms-grid-rows: 1fr 12%;
      grid-template-rows: 1fr 12%;
  position: absolute;
  width: 100%;
  height: 100%;
}

.arrow-right, .arrow-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-desc-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 126%;
}

.main-desc {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 135px;
}

.main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 293px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-btn-arr {
  margin-left: 20px;
}

.carousel-nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  text-align: center;
}

.carousel-radio {
  width: 8px;
  margin-right: 26px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #282B38;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */