.header {
  padding: 25px 0;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 146%;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  padding: 0 20px;
}

.navbar-link:hover {
  color: #E58D35;
}

.btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  padding: 14px 27px;
  background: #E58D35;
  border-radius: 90px;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #E58D35;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.btn:hover {
  background: inherit;
  color: #E58D35;
}

.btn-nav {
  font-weight: 600;
}

.banner-img {
  width: 100%;
}

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.carousel-desc {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 1fr 15%;
      grid-template-columns: 15% 1fr 15%;
  -ms-grid-rows: 1fr 12%;
      grid-template-rows: 1fr 12%;
  position: absolute;
  width: 100%;
  height: 100%;
}

.arrow-right, .arrow-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-desc-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 126%;
}

.main-desc {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 135px;
}

.main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 293px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-btn-arr {
  margin-left: 20px;
}

.carousel-nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  text-align: center;
}

.carousel-radio {
  width: 8px;
  margin-right: 26px;
}

.calculator {
  position: relative;
}

.calculator-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calculator-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 62px;
}

.line {
  width: 50px;
  height: 2px;
  color: #89C249;
}

.link-digital {
  position: absolute;
  top: -2%;
}

.digital {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #363A4D;
  border-radius: 50%;
  background: #282B38;
  padding: 16px 24px;
  margin-right: 41px;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

.digital:hover {
  background: #E58D35;
}

.active {
  background: #89C249;
  border: none;
}

.active:hover {
  background: #89C249;
}

.one {
  padding: 15px 26px;
}

.calculator {
  background: #363A4D;
  padding: 70px 50px;
  border-radius: 20px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-1, .column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}

.column-1:last-of-type, .column-2:last-of-type {
  margin-right: 0;
}

.form-label {
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
  margin-bottom: 6px;
}

.form-input {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #CBCBCB;
  padding: 18px 20px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
}

.sub-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #E58D35;
  text-decoration: underline;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.men {
  width: 100%;
}

.space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.test_1 {
  width: 100%;
  border: 1px dashed #E58D35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border-radius: 20px;
}

.file_desc {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: white;
  margin-top: 24px;
  margin-bottom: 14px;
}

.delete {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #E53535;
}

.file {
  margin-bottom: 26px;
}

.benefits {
  margin: 0 50px;
  border-radius: 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(#363A4D), to(#363A4D)), #F7F7F7;
  background: linear-gradient(0deg, #363A4D, #363A4D), #F7F7F7;
  padding-top: 90px;
}

.benefits-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits-item {
  margin-bottom: 48px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #282B38;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.main-heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.title-line {
  height: 2px;
  background: #E58D35;
  width: 85px;
  border: none;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 49px;
}
/*# sourceMappingURL=main.css.map */